<p>
    <mat-toolbar color="primary">
        <mat-toolbar-row class="row-1">
            <a><img src="./assets/images/logo.png" alt="logo game show" id="logo"></a>

            <div class="menu-links">
                <a mat-button routerLink="/">Carrinho</a>
                <a mat-button routerLink="./views/contato/contato.component">Contato</a>
                <a mat-button routerLink="/">Login</a>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</p>

<p>
    <mat-toolbar color="secondary">
        <mat-toolbar-row class="row-2">
            <div class="nav-links">
                <a mat-button routerLink="/">Categorias</a>
                <a mat-button routerLink="/">Jogos</a>
                <a mat-button routerLink="/">Informática</a>
                <a mat-button routerLink="/">PC Gamer</a>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</p>  